[submodule "sparse_smoothing"]
	path = sparse_smoothing
	url = https://github.com/abojchevski/sparse_smoothing
[submodule "pprgo_pytorch"]
	path = pprgo_pytorch
	url = https://github.com/TobiasSchmidtDE/pprgo_pytorch.git
